/*主页面的布局*/
body {
    margin: 100px;
}

#monitor {
    width: 300px;
    height: 600px;
    margin: auto;
    float: left;
    border: 1px solid;
}

#controlPanel {
    text-align: center;
    margin-top: 10px;
}

#speedView {
    text-align: center;
    padding: 10px;
    margin: 50px;
}
.btn-group {
    margin-left: 5px;
}
.row, #totalUploadSpeed, #totalDownloadSpeed {
    margin: 5px;
}
#viewUploadSpeed {
    width: 100px;
    height: 50px;
    margin-left: -10px;
}

#speedBottom {
    width: 100px;
    height: 50px;
    margin-left: -10px;
}
#copyright {
    font-size: 70%;
    text-align: center;
    clear: right;
    padding-bottom: 20px;
    margin-top: 10px;
}

#rightColumn {
    margin-left: 350px;
    width: 900px;
    height: 600px;
    border: 1px solid;
}

#noTask {
    text-align: center;
    line-height: 600px;
    font-size: 48px;
}

#speedView {
    margin: 20px auto auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
}


/*下载列表*/
.list-group {
    height: 340px;
}

/*addtask的布局*/

#addtask {
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 80px;
}

#addtaskAdd {

    border-bottom: 1px dashed black;

}

#addtaskUpload {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed black;

}

#addtaskInformation {
    border-bottom: 1px dashed black;
}

#addtaskButton {
    margin-top: 30px;
    float: right;
}

/*status的布局*/

#status {
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 80px;
}

#basicstatus {
    height: 100px;
    border: 1px solid black;

}

#specificstatus {
    margin-top: 30px;
    height: 400px;
    border: 1px solid black;
}

#statuslist {
    width: 550px;
    margin-top: 50px;
    margin-left: 50px;
}

/*标签的布局*/
#projectlabel {
    width: 80px;
    float: right;
}

#savebutton {
    float: right;
    margin-right: 0;
}

/*xiao bo*/
.marginRight {
    float: right;
    margin-right: 0;
}

/*5个单选框*/

#Setting {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

/*right column 下的最大的div*/
#SettingTop {
    border-bottom: 1px dashed black;
}

/*add task 最上方部分*/

#Notification {
    float: right;
    margin-right: 150px;
}

/*小博2*/
.peerbottom1 {
    float: right;
    margin-right: 100px;
}

#peer1 {
    margin-top: 20px;
    margin-left: 20px;
}

#optionbottom {
    margin-top: 20px;
    margin-left: 20px;

}
