<!DOCTYPE html>
<!--
 * Under No Licence, for commercial usage please contact the author
-->
<html lang="en">
<head>
    <title>Arial 2 Download</title>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
</head>
<body>
<div class="container" ng-app="taskPanel">

    <!--Modals-->
    <div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-labelledby="modalSettings"
         ng-controller="globalSetting as settings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="Settings">Settings <i class="glyphicon glyphicon-wrench"></i></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12"><h4>Extension</h4></div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="input-group">
                                <label class="input-group-addon" for="settingsPort">Port</label>
                                <input type="number" min="1" max="65535" aria-valuemin="1" aria-valuemax="65535"
                                       class="form-control" id="settingsPort">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-btn" for="settingsRefreshInput">
                                    <button type="button" class="btn btn-primary" id="settingsRefresh">
                                        <i class="glyphicon glyphicon-refresh"></i></button>
                                </label>
                                <input type="number" min="1" max="600" aria-valuemin="1" aria-valuemax="600"
                                       class="form-control"
                                       aria-label="Fresh Rate" id="settingsRefreshInput">
                                <span class="input-group-addon">seconds</span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" id="settingsBell">
                                    <i class="glyphicon glyphicon-bell"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h4>Aria2
                                <small id="setAriaVer"></small>
                            </h4>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="gsi-dl">
                                    <i class="glyphicon glyphicon-download"></i></label>
                                <input type="number" min="0" ng-model="Aria2.MODL" aria-valuemin="0"
                                       class="form-control"
                                       id="gsi-dl">
                                <span class="input-group-addon">kb/s</span>
                            </div>
                        </div>

                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="gsi-ul">
                                    <i class="glyphicon glyphicon-upload"></i></label>
                                <input type="number" min="0" ng-model="Aria2.MOUL" aria-valuemin="0"
                                       class="form-control" id="gsi-ul">
                                <span class="input-group-addon">kb/s</span>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="gsi-cd">
                                    <i class="glyphicon glyphicon-tasks"></i></label>
                                <input type="number" min="1" aria-valuemin="1" class="form-control"
                                       id="gsi-cd" ng-model="Aria2.MCD">
                                <span class="input-group-addon">tasks</span>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="gsi-mss">
                                    <i class="glyphicon glyphicon-equalizer"></i></label>
                                <input type="number" min="0" aria-valuemin="0" ng-model="Aria2.MSS" class="form-control"
                                       id="gsi-mss">
                                <span class="input-group-addon">MiB</span>
                            </div>
                        </div>

                        <div class="col-xs-10 col-sm-10">
                            <div class="input-group">
                                <label class="input-group-addon" for="gsi-ua">User Agent</label>
                                <input type="text" class="form-control" id="gsi-ua" ng-model="Aria2.UA">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="settingsClose">Close</button>
                    <button type="button" class="btn btn-primary" id="settingsSave" ng-click="settings.update()">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Task Modals -->
    <div class="modal fade" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="modalAddTask">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddTask">Add Task <i class="glyphicon glyphicon-align-right"></i></h4>
                </div>
                <div class="modal-body">
                    <div class="row"><h4>Basic Information</h4></div>
                    <div class="row">
                        <div class="col-xs-11 col-sm-11">
                            <form name="addTaskForm" role="form">
                                <div class="input-group form-group" id="addTaskURLGroup">
                                    <label class="input-group-addon" for="addTaskURL">URL</label>
                                    <input type="url" name="url" class="form-control"
                                           id="addTaskURL" required>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            <input type="file" id="fileInputTorrent">Upload Torrent
                                        </button>
                                    </span>
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon" for="addTaskFileName">File Name</label>
                                    <input type="text" class="form-control" id="addTaskFileName">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="addTaskPause" ng-click="">
                                    <i class="glyphicon glyphicon-pause"></i>
                                </button>
                            </span>
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon" for="addTaskDirectory">Directory</label>
                                    <input type="text" class="form-control" id="addTaskDirectory">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row"><h4>Specific Information</h4></div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="addTaskSpilt">Spilt</label>
                                <input type="text" class="form-control" id="addTaskSpilt">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon" for="addTaskCS">Conn/Serv</label>
                                <input type="text" class="form-control" id="addTaskCS">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="addTaskRatio">Seed Ratio</label>
                                <input type="text" class="form-control" id="addTaskRatio">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon" for="addTaskTime">Seed Time</label>
                                <input type="text" class="form-control" id="addTaskTime">
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-11">
                            <div class="input-group">
                                <label class="input-group-addon" for="addTaskHeader">Header</label>
                                <textarea class="form-control" id="addTaskHeader"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="addTaskCancel">Cancel</button>
                    <button type="button" class="btn btn-success" id="addTaskAdd" disabled>
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--BasicParts-->
    <div class="row" style="" ng-controller="taskListController as taskListCtr">
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="list-group" style=" padding-bottom: auto; height:90vh;overflow-y:auto;overflow-x: hidden">
                <a class="list-group-item" ng-repeat="task in taskList" href
                   ng-click="taskListCtr.setCurrentTask(task)" ng-class="{ active : task.active }">
                    <h5 class="list-group-item-heading">{{task.title|title:16}}</h5>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                             ng-class="{
                             'active':task.status == 'active',
                             'progress-bar-info':task.status == 'removed',
                             'progress-bar-danger':task.status == 'error',
                             'progress-bar-warning':task.status == 'paused',
                             'progress-bar-warning':task.status == 'waiting',
                             'progress-bar-success':task.status == 'complete'
                             }"
                             style="width:{{task.progress}}%">
                            {{task.progress}}%
                        </div>
                    </div>
                </a>

            </div>

        </div>
        <div class="col-lg-9 col-xs-9 col-sm-9"
             ng-controller="taskViewController as taskViewer" ng-show="taskViewer.task.title">
            <div class="row">
                <div class="col-lg-10 col-xs-8 col-sm-9 col-md-10">
                    <h4>{{taskViewer.task.title}} <span class="label label-primary"
                                                        ng-show="taskViewer.task.status == 'active'">{{taskViewer.task.eta| time | date:'HH:mm:ss'}}</span>
                        <span class="label label-primary" ng-show="taskViewer.task.status == 'active'">{{taskViewer.task.downloadSpeed|bytes}}/s</span>
                    </h4>

                    <div class="panel" ng-show="taskViewer.isTab(1)">
                        <ul>
                            <li>Size: {{taskViewer.task.completedLength|bytes}}/{{taskViewer.task.totalLength|bytes}}
                            </li>
                            <li>Status: {{taskViewer.task.status}} <span class="label label-danger"
                                                                         ng-show="taskViewer.task.status == 'error'"
                                                                         title="{{taskViewer.task.errorEx}}">{{taskViewer.task.errorCode}}</span>
                            </li>
                            <li>Path: {{taskViewer.task.dir}}</li>
                        </ul>
                    </div>
                    <div class="panel" ng-show="taskViewer.isTab(2)">

                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="file in taskViewer.task.files" href>
                                {{file.title}} {{file.completedLength|bytes}} / {{file.length|bytes}}
                            </a>
                        </div>
                    </div>
                    <div class="panel" ng-show="taskViewer.isTab(3)">
                        <div class="input-group">
                            <label class="input-group-addon" for="optionsDownloadLimit">
                                Download Speed Limit</label>
                            <input type="text" class="form-control" id="optionsDownloadLimit">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" for="optionsLoadLimit">
                                Upload Speed Limit</label>
                            <input type="text" class="form-control" id="optionsLoadLimit">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" for="optionsMaxConnections">
                                Max Connections</label>
                            <input type="text" class="form-control" id="optionsMaxConnections">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" for="optionsSpilt">
                                Spilt</label>
                            <input type="text" class="form-control" id="optionsSpilt">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" for="optionsSpiltSize">Spilt Size</label>
                            <input type="text" class="form-control" id="optionsSpiltSize">
                        </div>

                    </div>
                    <div class="panel" ng-show="taskViewer.isTab(4)">

                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="peer in taskViewer.task.peers" href>
                                {{peer.ip + " " +peer.client + " (" + peer.progress + "%)"}}
                                <i class="glyphicon glyphicon-upload"></i> {{peer.upSpeed|bytes}}/s
                                <i class="glyphicon glyphicon-download"></i> {{peer.downSpeed|bytes}}/s
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-4 col-sm-3 col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ng-class="{ active: taskViewer.isTab(1)}">
                            <a href ng-click="taskViewer.setTab(1)">Status</a>
                        </li>
                        <li role="presentation" ng-class="{ active: taskViewer.isTab(2)}"
                            ng-show="taskViewer.task.files[0].title">
                            <a href ng-click="taskViewer.setTab(2)">Files</a>
                        </li>
                        <li role="presentation" ng-class="{ active: taskViewer.isTab(3)}">
                            <a href ng-click="taskViewer.setTab(3)">Options</a>
                        </li>
                        <li role="presentation" ng-class="{ active: taskViewer.isTab(4)}"
                            ng-show="taskViewer.task.bittorrent">
                            <a href ng-click="taskViewer.setTab(4)">Peers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="bottom: 0;margin-bottom: 0">
        <div class="col-lg-9 col-xs-9 col-sm-9"></div>
        <div class="col-lg-3 col-xs-3 col-sm-3">

            <footer class="footer ">
                <div class="row controllerView" ng-controller="Aria2Controller as ARIA2">
                    <button type="button" id="taskBTNAdd" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalAddTask">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>

                    <div class="btn-group">
                        <button type="button" id="taskBTNStart" class="btn btn-primary">
                            <i class="glyphicon glyphicon-forward"></i>
                        </button>
                        <button type="button" id="taskBTNPause" class="btn btn-primary">
                            <i class="glyphicon glyphicon-stop"></i>
                        </button>
                        <button type="button" id="taskBTNClear" class="btn btn-primary" ng-click="ARIA2.delTask()">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>

                    <div class="row controllerView">
                        <button type="button" id="BTNFresh" class="btn btn-primary" ng-click="ARIA2.refresh()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                        <button type="button" id="BTNSettings" data-toggle="modal" data-target="#modalSettings"
                                class="btn btn-primary">
                            <i class="glyphicon glyphicon-wrench"></i>
                        </button>
                    </div>

                    <div id="speedView">
                        <div id="viewUploadSpeed">
                            <i class="glyphicon glyphicon-open"></i><br>
                            <span id="totalUploadSpeed">0</span>
                        </div>
                        <div id="viewDownloadSpeed">
                            <span id="totalDownloadSpeed">0</span><br>
                            <i class="glyphicon glyphicon-save"></i>
                        </div>
                    </div>
                </div>
                <div id="copyRight">Copyright &copy; 2015 Group #4
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/jquery.jsonrpc.js"></script>
<script src="js/lib/aria2.js"></script>
<script src="js/lib/DB.js"></script>
<script src="js/lib/NOTIFYlib.js"></script>
<script src="js/main.js"></script>
</body>

</html>